@media only screen and (min-width: 500px) {
   /*----------- HEADER-------*/
  /*----------- NAV MENU-------*/  
  /*----------- MAIN -------*/
  /*----------- BANNER SECTION -------*/
  /*----------- WELCOME TEXT -------*/
  body {
    max-width: 800px;
    min-width: 500px;
    margin: auto;
  }

  #welcomeText {
    color: orange;
    line-height: 1.5rem;
    font-style: italic;
    padding: 5%;
  }

  .tilogo {
    width: 125px;
  }
  
  /*----------- TEMPLE DATA -------*/
  .locations > h3 {
    text-align: center;
    padding: 1% 1% 1% 5%;
  }
  
  .aLocation {
    max-width: 130px;
    position: relative;
    margin-bottom: -25%;
  }
  
  .locations {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  
  .templesgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 5%;
  }
  .cityTemple > img {
    margin-top: -20%;
    width: 100%;
    max-height: 510px; 
  }

  @media only screen and (min-width: 650px){
    .cityTemple > img {
      max-height: 600px; 
    }
  }
  
  .cityinfo {
    margin-top: -68%;
    padding: 2%;
    font-size: 12px;
    max-width: 130px;
  }
  
  /*----------- ACTIVITY DATA -------*/
  .activities > h3 {
    text-align: center;
    padding: 1% 1% 1% 5%;
  }
  
  .activitiesTemple {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 5%;
  }
  .activity > img {
    width: 100%;
    margin-bottom: -5%;
  }
/*----------- FOOTER -------*/
/*-------- TEMPLES PAGE ------*/

/*-- Temple Info Section -- */
.templeLocations > h3 {
  padding: 1%;
  text-align: center;
}

.templeLocations {
  margin: 0;
}

.aLocationT {
  margin-bottom: -15%;
}

.cityTemple > img {
  width: 90%;
  margin: 5% 5% 0 5%;
}

.templeInfo {
  font-size: 16px;
  width: 86%;
  margin: 0 5% 5% 5%;
}

/*-------- SERVICES PAGE ------*/
@media only screen and (min-width: 650px) {

  .servicesgoodGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #titleGrid {
    margin-bottom: -17%;
  }

  .serveGrid > img {
    max-height: 198px;
  }
  
}

 
}