/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: black;
}

h1 {
    font-size: 2rem;
    color: white;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 80%;
}

header, footer, footer a {
    text-align: center;
    background-color: purple;
    color: whitesmoke;
}

header img {
    width: 10%;
    height: auto;
    float: right;
}

footer {
    font-size: smaller;
}