@media only screen and (min-width: 800px) {    
 
/*----------- HEADER-------*/
.tilogo {
  width: 10%;
}

.headertext{
  width: 70%;
}

.headertext > h1 {
  font-size: 35px;
}

#timotto {
  font-size: 20px;
}

/*----------- NAV MENU-------*/

nav button {
display: none;
}

.hide {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: space-around;
  padding: 1% 0 1% 0;
  font-size: 22px;
}

li a {
  display: block;
}

/*----------- MAIN -------*/
main {
    background-color: white;
    display: block;
    align-items: center;
    max-width: 100%;
  }

/*----------- BANNER SECTION -------*/
  .hbannerImage {
    margin: 0;
  }
  .hbannerImage > img {
    width: 100%;
  }
  
/*----------- WELCOME TEXT -------*/
.welcomeData > h2 {
  text-align: left;
  padding: 1% 1% 1% 5%;
}
#welcomeText {
  color: orange;
  line-height: 1.5rem;
  font-style: italic;
  padding: 5%;
}

/*----------- TEMPLE DATA -------*/
.locations > h3 {
  text-align: left;
  padding: 1% 1% 1% 5%;
}

#aLocation {
  max-width: 180px;
  position: relative;
  margin-bottom: 15%;
}

.locations {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.templesgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  margin: 5%;
}
.cityTemple > img {
  margin-top: -34%;
  width: 100%;
}

.cityinfo {
  margin-top: -38%;
  padding: 2%;
  font-size: 14px;
  max-width: 180px;
}

/*----------- ACTIVITY DATA -------*/
.activities > h3 {
  text-align: left;
  padding: 1% 1% 1% 5%;
}

.activitiesTemple {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 5%;
}
.activity > img {
  width: 100%;
  margin-bottom: -5%;
}
/*----------- FOOTER -------*/
.content {
  display: grid;
  grid-template-columns: .8fr 1fr; 
  margin: 0 5% 0 5%;
}

#templeinnMap {
  width: 100%;
  padding: 5%;
}

.footer-bar {
  font-size: 20px;
}


}

    