    body {
      font-size: 18px;
      font-family: 'Roboto Condensed', sans-serif;
      color: black;
    }
  
    header {
      text-align: center;
      background-color: lightskyblue;
      padding: 1rem;
      color: white;

    }
  
    header > img{
      width: 150px;
      height: auto;
      vertical-align: middle;
    }

    .headertext {
      display: inline-block;
      vertical-align: middle;
      padding: 1rem 2.5rem;
    }

    .headertext h1 {
      font-size: 3rem;
      margin: .5rem;
    }

    .subheading {
      font-size: 1.1rem;
      color: white;
      font-style: italic;
    }

    .currentConditions {
      display: inline-block;
      padding: .5rem;
      vertical-align: middle;
      color: black;
      background-color: white; 
      border: 1pt solid burlywood;
      font-size: 1rem;
    }

    .currentConditions img {
      width: 80px;
      height: auto;
    }

    .currentConditions p {
      margin: .2em;
    }

    nav li {
      display: inline-block;
      padding: 0 1rem 0 1rem;
      margin: 1rem;
    }

    nav a {
    color: white;
    font-size: 1.5rem;
    }

    ul {
      margin: 0;
      padding: 0 0 0 20rem;
      border: 2pt solid darkblue;
      background-color: lightskyblue;
      
    }

    main {
      background-color: whitesmoke;
      display: block;
      align-items: center;
      padding: 0 10em 0 11rem;
      margin: 0;
    }

    section.banner > h2 {
      margin: 0;
      padding: 2rem 34rem 2rem 34rem;
      font-size: 2rem;
    }

    figcaption {
      display: block;
      position: absolute;
      left: 15%;
      bottom: 15%;
      background-color: lightskyblue;
      color: black;
      width: 15%;
      padding: 1rem 0 2rem 2.5rem;
      border: 2pt solid darkblue;
    }

    figure.bannerfigure {
      position: relative;
      float: left;
    }

    section.forecast {
      padding: 5% 40% 5% 40%;
      margin: 0;
    }

    section.forecast > h2 {
      background-color: lightskyblue;
      padding: 5%;
      border: 2pt solid darkblue;
      margin: 0;
    }

    #forecastDays {
      background-color: lightskyblue;
      display: block;
      padding: 5% 10% 5% 10%;
      border: 2pt solid darkblue;
      margin: 0;
    }

    article.prestonStory {
      border: 2pt solid darkblue;
      padding: 2rem;
    }

    article > h2 {
      padding-left: 5%;
    }
    .story {
      text-align: left;
      display: inline-block;
      width: 40%;
      padding-left: 5%;
      padding-right: 10%;
    }

    .prestonStory > img {
      width: 40%;
    }

    footer {
      background-color: whitesmoke;
      padding: 5% 11.5% 0 11.5%;
    }

    aside.content {
      padding: 2rem;
      display: block;
      background-color: lightskyblue;
      color: whitesmoke;
    }

    .contact {
      text-align: center;
      display: inline-block;
      width: 40%;
      padding-left: 10%;
      padding-bottom: 2rem;
    }

    aside > img {
      width: 30%;
      height: auto;
      padding-left: 10%;
    }

    p.footer-bar {
      background-color: darkblue;
      color: whitesmoke;
      text-align: center;
      margin-top: 0;
    }







    